@media all and (max-width: 1024px) {
  .container-header {
    margin: 0 30px;
  }

  .container-banner {
    margin: 0 20px;
    padding: 0 10px;
    transition: 0.5s;
  }

  .left-content h2 {
    font-size: 30px;
    transition: 0.5s;
  }

  .left-content p {
    font-size: 14px;
    transition: 0.5s;
  }

  .right-content img {
    width: 250px;
    transition: 0.5s;
    margin: auto;
  }
}

@media all and (max-width: 768px) {
  .list-menu {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .container-banner {
    margin: 0 15px;
    padding: 0 7px;
    transition: 0.5s;
  }

  .left-content h2 {
    font-size: 22px;
    transition: 0.5s;
  }

  .left-content p {
    font-size: 10px;
    transition: 0.5s;
  }

  .right-content img {
    width: 180px;
    transition: 0.5s;
  }

  /* PROFILE */
  .team {
    width: calc(45% - 10px);
  }

  .foto {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .banner {
    height: auto;
    padding: 20px 0;
  }

  .left-content, .right-content {
    width: calc(100% - 10px);
  }

  .left-content {
    order: 2;
  }

  .right-content {
    order: 1;
  }

  /* PROFILE */
  .team {
    width: calc(100%);
  }

  /* Tujuan */
  .tujuan {
    margin-bottom: 0;
  }

  .tujuans {
    width: calc(100%);
    height: auto;
    padding: 20px;
    box-sizing: border-box;
  }

  .poto {
    top: -10px;
  }
}
